@charset "utf-8";
/* estilos.css  */
/* la ventaja de usar una hoja externa vinculada a todas las paginas, los cambios se aplican a todos*/
h1{
    text-align: center; color: steelblue;
}
p{      
    font-family: Tahoma, sans-serif;
    color: #dd2727;
    font-size: 18px;
}
body{
    background-color:#68ff70;
}