/*  texto.css   */
body{
    color: #003;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62%;

    background: #09F url(../imagenes/fondo_div.png) repeat-x;
}
#principal{
    width: 740px;
    margin: auto;
    border: 4px solid #FFF;
    padding: 0 10px;
    background: url(..//imagenes/fondotext.jpg) no-repeat;
}
#principal h1{
    color: #f30;
    font-family: "Arial black", Arial, Helvetica, sans-serif;
    font-size: 4em;
}
#principal h2{
    font: bold 3.5em Verdana, Times, serif;
    border-bottom: 1px solid black;
    margin-top: 25px;
}
#principal h3{
    color: #f30;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}
#principal p{
    font-size: 1.5em;
    line-height: 150%;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#principal p::first-line{
    font-weight: bold;
    color: #666;
}
#principal ul{
    margin: 50px 0 15px 50px;
    width: 160px;
    float: right;
}
#principal li{
    color: #06E;
    font-size: 1.5em;
    margin-bottom: 7px;
}
#principal .autor{
    font-size: 1.6em;
    margin: 5px 0 25px 50px;
}
#principal .autor strong{
    color: #F00;
    text-transform: uppercase;
    margin-left: 5px;
}
#principal h1 strong{
    font-size: 150px;
    color: white;
    margin-right: -0.75em;
}